<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_CcBKwOQlEeiyZNO_nrSMkA" specification="@CycleBased(200)&#xA;&#xA;interface:&#xA;&#x9;operation updateGUI(): void&#xA;&#x9;&#xA;&#x9;in event close&#xA;&#x9;in event open&#xA;&#x9;in event leave&#xA;&#x9;in event enter&#xA;&#x9;in event pause&#xA;&#x9;in event continue&#xA;&#x9;in event awake&#xA;&#x9;in event yellow_light&#xA;&#x9;in event red_light&#xA;&#x9;in event green_light&#xA;&#x9;in event update_acceleration: real&#xA;&#x9;&#xA;&#x9;out event closeDoors&#xA;&#x9;out event openDoors&#xA;&#x9;out event error: string&#xA;&#x9;out event warning: string&#xA;&#x9;out event clearWarning&#xA;&#x9;&#xA;&#x9;operation print(msg: string): void&#xA;&#x9;&#xA;&#x9;var velocity: real&#xA;internal:&#xA;&#x9;every 20ms /  velocity += acceleration / 2; velocity = velocity > 0 ? velocity : 0; updateGUI&#xA;&#x9;var acceleration: real" name="TrainController">
    <regions xmi:id="_4aDjIOaAEeiyZNO_nrSMkA" name="main">
      <vertices xsi:type="sgraph:Entry" xmi:id="_7BEBoOaAEeiyZNO_nrSMkA">
        <outgoingTransitions xmi:id="_8KhkEOaAEeiyZNO_nrSMkA" specification="" target="_7GU8IOaAEeiyZNO_nrSMkA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_7GU8IOaAEeiyZNO_nrSMkA" specification="" name="default" incomingTransitions="_8KhkEOaAEeiyZNO_nrSMkA _zRN6WPC2EeilWePNzVreuA">
        <outgoingTransitions xmi:id="_b8TtkfCvEeilWePNzVreuA" specification="continue" target="_cT5HEPCvEeilWePNzVreuA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_omNJEPC2EeilWePNzVreuA" name="main">
        <outgoingTransitions xmi:id="_zRN6WPC2EeilWePNzVreuA" specification="pause" target="_7GU8IOaAEeiyZNO_nrSMkA"/>
        <regions xmi:id="_omNwI_C2EeilWePNzVreuA" name="train">
          <vertices xsi:type="sgraph:State" xmi:id="_5VZty_CVEeilWePNzVreuA" specification="entry / acceleration = -1.0;&#xD;&#xA;print(&quot;In Emergency Brake Mode, acceleration=-1&quot;)" name="Emergency Brake Mode" incomingTransitions="_5VZtr_CVEeilWePNzVreuA _Cq2TgPCzEeilWePNzVreuA _NUDt4PCzEeilWePNzVreuA">
            <outgoingTransitions xmi:id="_lImZ4PGfEeiuWse6lTzCQQ" specification="after 5s" target="_cT5HEPCvEeilWePNzVreuA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_5VZtQPCVEeilWePNzVreuA" specification="entry / velocity = 50.0;&#xD;&#xA;print(&quot;Passed yellow light at good speed. Limiting speed to 50km/h&quot;)" name="Yellow Light Normal" incomingTransitions="_5VXRGPCVEeilWePNzVreuA">
            <outgoingTransitions xmi:id="_b8TtgPCvEeilWePNzVreuA" specification="update_acceleration [velocity &lt;= 50.0]" target="_cT5HEPCvEeilWePNzVreuA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_sWWkQPCSEeilWePNzVreuA" name="normal" incomingTransitions="_vFXIMPCSEeilWePNzVreuA _0GJIMPCXEeilWePNzVreuA">
            <outgoingTransitions xmi:id="_5VZtr_CVEeilWePNzVreuA" specification="red_light" target="_5VZty_CVEeilWePNzVreuA"/>
            <outgoingTransitions xmi:id="_5VXRGPCVEeilWePNzVreuA" specification="yellow_light [velocity &lt;= 50.0]" target="_5VZtQPCVEeilWePNzVreuA"/>
            <outgoingTransitions xmi:id="_0GJIMPCXEeilWePNzVreuA" specification="green_light" target="_sWWkQPCSEeilWePNzVreuA"/>
            <outgoingTransitions xmi:id="_2bvSUPCyEeilWePNzVreuA" specification="enter" target="_0OjpEPCyEeilWePNzVreuA"/>
            <outgoingTransitions xmi:id="_Cq2TgPCzEeilWePNzVreuA" specification="yellow_light [velocity > 50.0]" target="_5VZty_CVEeilWePNzVreuA"/>
            <outgoingTransitions xmi:id="_NUDt4PCzEeilWePNzVreuA" specification="enter [velocity > 20.0]" target="_5VZty_CVEeilWePNzVreuA"/>
            <regions xmi:id="_xzT8MPCSEeilWePNzVreuA" name="movement_train">
              <vertices xsi:type="sgraph:State" xmi:id="_zQmZkPCSEeilWePNzVreuA" specification="entry / print(&quot;still&quot;);&#xD;&#xA;velocity = 0.0;&#xD;&#xA;acceleration = valueof(update_acceleration)" name="Still" incomingTransitions="_kA7isPCYEeilWePNzVreuA _0qz0IPCaEeilWePNzVreuA _NoVNgPGfEeiuWse6lTzCQQ">
                <outgoingTransitions xmi:id="_-gkfsPCXEeilWePNzVreuA" specification="update_acceleration [acceleration > 0.0]" target="_0K5eoPCSEeilWePNzVreuA"/>
              </vertices>
              <vertices xsi:type="sgraph:State" xmi:id="_0K5eoPCSEeilWePNzVreuA" specification="entry / print(&quot;driving&quot;);&#xD;&#xA;acceleration = valueof(update_acceleration)" name="Driving" incomingTransitions="_-gkfsPCXEeilWePNzVreuA _EgQggPC0EeilWePNzVreuA">
                <outgoingTransitions xmi:id="_ENipkPCYEeilWePNzVreuA" specification="update_acceleration[velocity==100.0]" target="_0670cPCSEeilWePNzVreuA"/>
                <outgoingTransitions xmi:id="_NoVNgPGfEeiuWse6lTzCQQ" specification="update_acceleration[acceleration &lt; 0.0]" target="_zQmZkPCSEeilWePNzVreuA"/>
              </vertices>
              <vertices xsi:type="sgraph:State" xmi:id="_0670cPCSEeilWePNzVreuA" specification="entry / print(&quot;cruising&quot;)" name="Cruising" incomingTransitions="_ENipkPCYEeilWePNzVreuA">
                <outgoingTransitions xmi:id="_0qz0IPCaEeilWePNzVreuA" specification="update_acceleration [velocity == 0.0]" target="_zQmZkPCSEeilWePNzVreuA"/>
                <outgoingTransitions xmi:id="_EgQggPC0EeilWePNzVreuA" specification="update_acceleration[acceleration &lt; 0.0]" target="_0K5eoPCSEeilWePNzVreuA"/>
              </vertices>
              <vertices xsi:type="sgraph:Entry" xmi:id="_gmifcPCYEeilWePNzVreuA">
                <outgoingTransitions xmi:id="_kA7isPCYEeilWePNzVreuA" specification="" target="_zQmZkPCSEeilWePNzVreuA"/>
              </vertices>
              <vertices xsi:type="sgraph:Entry" xmi:id="_cT5HEPCvEeilWePNzVreuA" name="hist" incomingTransitions="_b8TtgPCvEeilWePNzVreuA _b8TtkfCvEeilWePNzVreuA _euD00PGeEeiuWse6lTzCQQ _lImZ4PGfEeiuWse6lTzCQQ" kind="DEEP_HISTORY"/>
            </regions>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_0OjpEPCyEeilWePNzVreuA" specification="entry / print(&quot;in station&quot;)" name="In Station" incomingTransitions="_2bvSUPCyEeilWePNzVreuA">
            <outgoingTransitions xmi:id="_iPgNEPCzEeilWePNzVreuA" specification="open [velocity == 0.0]" target="_gqBdAPCzEeilWePNzVreuA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_gqBdAPCzEeilWePNzVreuA" specification="entry / raise openDoors" name="Doors Opened" incomingTransitions="_iPgNEPCzEeilWePNzVreuA">
            <outgoingTransitions xmi:id="_euD00PGeEeiuWse6lTzCQQ" specification="after 5s / raise closeDoors" target="_cT5HEPCvEeilWePNzVreuA"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_rH50IPCSEeilWePNzVreuA">
            <outgoingTransitions xmi:id="_vFXIMPCSEeilWePNzVreuA" specification="" target="_sWWkQPCSEeilWePNzVreuA"/>
          </vertices>
        </regions>
        <regions xmi:id="_TqFtw_CxEeilWePNzVreuA" name="dead man's button">
          <vertices xsi:type="sgraph:State" xmi:id="_aFB-oPC2EeilWePNzVreuA" name="Normal" incomingTransitions="_KenN8PC3EeilWePNzVreuA _JWdoMPC5EeilWePNzVreuA _wIGNUPGfEeiuWse6lTzCQQ">
            <outgoingTransitions xmi:id="_eb3mkPC3EeilWePNzVreuA" specification="every 30s" target="_Z2tZUPC3EeilWePNzVreuA"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_KCAKcPC3EeilWePNzVreuA">
            <outgoingTransitions xmi:id="_KenN8PC3EeilWePNzVreuA" specification="" target="_aFB-oPC2EeilWePNzVreuA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_Z2tZUPC3EeilWePNzVreuA" specification="entry / raise warning: &quot;Press the POLL button!&quot;" name="Button Prompted" incomingTransitions="_eb3mkPC3EeilWePNzVreuA">
            <outgoingTransitions xmi:id="_JWdoMPC5EeilWePNzVreuA" specification="awake" target="_aFB-oPC2EeilWePNzVreuA"/>
            <outgoingTransitions xmi:id="_LnZwEPC5EeilWePNzVreuA" specification="after 5s" target="_UqZanfC5EeilWePNzVreuA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_UqZanfC5EeilWePNzVreuA" specification="entry / acceleration = -1.0;&#xD;&#xA;print(&quot;In Emergency Brake Mode, acceleration=-1&quot;)" name="Emergency Brake Mode" incomingTransitions="_LnZwEPC5EeilWePNzVreuA">
            <outgoingTransitions xmi:id="_wIGNUPGfEeiuWse6lTzCQQ" specification="after 5s" target="_aFB-oPC2EeilWePNzVreuA"/>
          </vertices>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_CcazYOQlEeiyZNO_nrSMkA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_CcBKwOQlEeiyZNO_nrSMkA" measurementUnit="Pixel">
    <children xsi:type="notation:Shape" xmi:id="_CcqD8-QlEeiyZNO_nrSMkA" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_CcqD9eQlEeiyZNO_nrSMkA" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_CcqD9uQlEeiyZNO_nrSMkA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_CcqD9-QlEeiyZNO_nrSMkA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_CcqrAOQlEeiyZNO_nrSMkA" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CcqrAeQlEeiyZNO_nrSMkA"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CcqrAuQlEeiyZNO_nrSMkA" x="10" y="10" width="200" height="400"/>
    </children>
    <children xmi:id="_4aEKMOaAEeiyZNO_nrSMkA" type="Region" element="_4aDjIOaAEeiyZNO_nrSMkA">
      <children xsi:type="notation:DecorationNode" xmi:id="_4aExQOaAEeiyZNO_nrSMkA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_4aExQeaAEeiyZNO_nrSMkA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_4aExQuaAEeiyZNO_nrSMkA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_4aExQ-aAEeiyZNO_nrSMkA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_7BEosOaAEeiyZNO_nrSMkA" type="Entry" element="_7BEBoOaAEeiyZNO_nrSMkA">
          <children xmi:id="_7BFPwOaAEeiyZNO_nrSMkA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_7BFPw-aAEeiyZNO_nrSMkA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_7BFPxOaAEeiyZNO_nrSMkA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_7BFPxeaAEeiyZNO_nrSMkA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_7BFPweaAEeiyZNO_nrSMkA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7BFPwuaAEeiyZNO_nrSMkA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_7BEoseaAEeiyZNO_nrSMkA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_7BEosuaAEeiyZNO_nrSMkA" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7BEos-aAEeiyZNO_nrSMkA" x="94" y="17" width="15" height="15"/>
        </children>
        <children xmi:id="_7GVjMOaAEeiyZNO_nrSMkA" type="State" element="_7GU8IOaAEeiyZNO_nrSMkA">
          <children xsi:type="notation:DecorationNode" xmi:id="_7GVjNOaAEeiyZNO_nrSMkA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_7GVjNeaAEeiyZNO_nrSMkA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_7GVjNuaAEeiyZNO_nrSMkA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_7GVjN-aAEeiyZNO_nrSMkA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_7GVjOOaAEeiyZNO_nrSMkA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7GVjOeaAEeiyZNO_nrSMkA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_7GVjOuaAEeiyZNO_nrSMkA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_7GVjMeaAEeiyZNO_nrSMkA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_7GVjMuaAEeiyZNO_nrSMkA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_7GVjO-aAEeiyZNO_nrSMkA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7GVjM-aAEeiyZNO_nrSMkA" x="160" y="9" width="64" height="104"/>
        </children>
        <children xmi:id="_omNwJPC2EeilWePNzVreuA" type="State" element="_omNJEPC2EeilWePNzVreuA">
          <children xsi:type="notation:DecorationNode" xmi:id="_omNwKPC2EeilWePNzVreuA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_omNwKfC2EeilWePNzVreuA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_omNwKvC2EeilWePNzVreuA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_omNwK_C2EeilWePNzVreuA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_omNwLPC2EeilWePNzVreuA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_omNwLfC2EeilWePNzVreuA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_omNwLvC2EeilWePNzVreuA" type="StateFigureCompartment">
            <children xmi:id="_GTMWYPC3EeilWePNzVreuA" type="Region" element="_omNwI_C2EeilWePNzVreuA">
              <children xsi:type="notation:DecorationNode" xmi:id="_GTMWYfC3EeilWePNzVreuA" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_GTMWYvC3EeilWePNzVreuA"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_GTMWY_C3EeilWePNzVreuA"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_GTMWZPC3EeilWePNzVreuA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_GTMWZfC3EeilWePNzVreuA" type="State" element="_5VZty_CVEeilWePNzVreuA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_GTMWZvC3EeilWePNzVreuA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_GTMWZ_C3EeilWePNzVreuA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_GTMWaPC3EeilWePNzVreuA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_GTMWafC3EeilWePNzVreuA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_GTMWavC3EeilWePNzVreuA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_GTMWa_C3EeilWePNzVreuA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_GTMWbPC3EeilWePNzVreuA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_GTMWbfC3EeilWePNzVreuA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_GTMWbvC3EeilWePNzVreuA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_GTMWb_C3EeilWePNzVreuA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_GTMWcPC3EeilWePNzVreuA" x="1091" y="163" width="353" height="65"/>
                </children>
                <children xmi:id="_GTMWcfC3EeilWePNzVreuA" type="State" element="_5VZtQPCVEeilWePNzVreuA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_GTMWcvC3EeilWePNzVreuA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_GTMWc_C3EeilWePNzVreuA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_GTMWdPC3EeilWePNzVreuA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_GTMWdfC3EeilWePNzVreuA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_GTMWdvC3EeilWePNzVreuA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_GTMWd_C3EeilWePNzVreuA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_GTMWePC3EeilWePNzVreuA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_GTMWefC3EeilWePNzVreuA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_GTMWevC3EeilWePNzVreuA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_GTMWe_C3EeilWePNzVreuA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_GTMWfPC3EeilWePNzVreuA" x="1106" y="373" width="467" height="65"/>
                </children>
                <children xmi:id="_GTMWffC3EeilWePNzVreuA" type="State" element="_sWWkQPCSEeilWePNzVreuA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_GTMWfvC3EeilWePNzVreuA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_GTMWf_C3EeilWePNzVreuA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_GTMWgPC3EeilWePNzVreuA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_GTMWgfC3EeilWePNzVreuA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_GTMWgvC3EeilWePNzVreuA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_GTMWg_C3EeilWePNzVreuA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_GTMWhPC3EeilWePNzVreuA" type="StateFigureCompartment">
                    <children xmi:id="_GTMWhfC3EeilWePNzVreuA" type="Region" element="_xzT8MPCSEeilWePNzVreuA">
                      <children xsi:type="notation:DecorationNode" xmi:id="_GTMWhvC3EeilWePNzVreuA" type="RegionName">
                        <styles xsi:type="notation:ShapeStyle" xmi:id="_GTMWh_C3EeilWePNzVreuA"/>
                        <layoutConstraint xsi:type="notation:Location" xmi:id="_GTMWiPC3EeilWePNzVreuA"/>
                      </children>
                      <children xsi:type="notation:Shape" xmi:id="_GTMWifC3EeilWePNzVreuA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                        <children xmi:id="_GTMWivC3EeilWePNzVreuA" type="State" element="_zQmZkPCSEeilWePNzVreuA">
                          <children xsi:type="notation:DecorationNode" xmi:id="_GTMWi_C3EeilWePNzVreuA" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_GTMWjPC3EeilWePNzVreuA"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_GTMWjfC3EeilWePNzVreuA"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_GTMWjvC3EeilWePNzVreuA" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_GTMWj_C3EeilWePNzVreuA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_GTMWkPC3EeilWePNzVreuA"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_GTMWkfC3EeilWePNzVreuA" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_GTMWkvC3EeilWePNzVreuA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_GTMWk_C3EeilWePNzVreuA"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_GTMWlPC3EeilWePNzVreuA" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_GTMWlfC3EeilWePNzVreuA" x="256" y="61" width="312" height="79"/>
                        </children>
                        <children xmi:id="_GTMWlvC3EeilWePNzVreuA" type="State" element="_0K5eoPCSEeilWePNzVreuA">
                          <children xsi:type="notation:DecorationNode" xmi:id="_GTMWl_C3EeilWePNzVreuA" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_GTMWmPC3EeilWePNzVreuA"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_GTMWmfC3EeilWePNzVreuA"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_GTMWmvC3EeilWePNzVreuA" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_GTMWm_C3EeilWePNzVreuA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_GTMWnPC3EeilWePNzVreuA"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_GTMWnfC3EeilWePNzVreuA" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_GTMWnvC3EeilWePNzVreuA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_GTMWn_C3EeilWePNzVreuA"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_GTMWoPC3EeilWePNzVreuA" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_GTMWofC3EeilWePNzVreuA" x="254" y="216" width="312" height="65"/>
                        </children>
                        <children xmi:id="_GTMWovC3EeilWePNzVreuA" type="State" element="_0670cPCSEeilWePNzVreuA">
                          <children xsi:type="notation:DecorationNode" xmi:id="_GTMWo_C3EeilWePNzVreuA" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_GTMWpPC3EeilWePNzVreuA"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_GTMWpfC3EeilWePNzVreuA"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_GTMWpvC3EeilWePNzVreuA" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_GTMWp_C3EeilWePNzVreuA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_GTMWqPC3EeilWePNzVreuA"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_GTMWqfC3EeilWePNzVreuA" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_GTMWqvC3EeilWePNzVreuA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_GTMWq_C3EeilWePNzVreuA"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_GTMWrPC3EeilWePNzVreuA" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_GTMWrfC3EeilWePNzVreuA" x="259" y="386" width="178" height="55"/>
                        </children>
                        <children xmi:id="_GTMWrvC3EeilWePNzVreuA" type="Entry" element="_gmifcPCYEeilWePNzVreuA">
                          <children xmi:id="_GTMWr_C3EeilWePNzVreuA" type="BorderItemLabelContainer">
                            <children xsi:type="notation:DecorationNode" xmi:id="_GTMWsPC3EeilWePNzVreuA" type="BorderItemLabel">
                              <styles xsi:type="notation:ShapeStyle" xmi:id="_GTMWsfC3EeilWePNzVreuA"/>
                              <layoutConstraint xsi:type="notation:Location" xmi:id="_GTMWsvC3EeilWePNzVreuA"/>
                            </children>
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_GTMWs_C3EeilWePNzVreuA" fontName="Verdana" lineColor="4210752"/>
                            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_GTMWtPC3EeilWePNzVreuA"/>
                          </children>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_GTMWtfC3EeilWePNzVreuA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                          <styles xsi:type="notation:NamedStyle" xmi:id="_GTMWtvC3EeilWePNzVreuA" name="allowColors"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_GTMWt_C3EeilWePNzVreuA" x="284" y="31"/>
                        </children>
                        <children xmi:id="_GTMWuPC3EeilWePNzVreuA" type="DeepHistory" element="_cT5HEPCvEeilWePNzVreuA">
                          <children xmi:id="_GTMWufC3EeilWePNzVreuA" type="BorderItemLabelContainer">
                            <children xsi:type="notation:DecorationNode" xmi:id="_GTMWuvC3EeilWePNzVreuA" type="BorderItemLabel">
                              <styles xsi:type="notation:ShapeStyle" xmi:id="_GTMWu_C3EeilWePNzVreuA"/>
                              <layoutConstraint xsi:type="notation:Location" xmi:id="_GTMWvPC3EeilWePNzVreuA"/>
                            </children>
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_GTMWvfC3EeilWePNzVreuA" fontName="Verdana" lineColor="4210752"/>
                            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_GTMWvvC3EeilWePNzVreuA" x="-29" y="3"/>
                          </children>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_GTMWv_C3EeilWePNzVreuA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                          <styles xsi:type="notation:NamedStyle" xmi:id="_GTMWwPC3EeilWePNzVreuA" name="allowColors"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_GTMWwfC3EeilWePNzVreuA" x="504" y="-4"/>
                        </children>
                        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_GTMWwvC3EeilWePNzVreuA"/>
                      </children>
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_GTMWw_C3EeilWePNzVreuA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_GTMWxPC3EeilWePNzVreuA"/>
                    </children>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_GTMWxfC3EeilWePNzVreuA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_GTMWxvC3EeilWePNzVreuA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_GTMWx_C3EeilWePNzVreuA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_GTMWyPC3EeilWePNzVreuA" x="2" y="68" width="610" height="529"/>
                </children>
                <children xmi:id="_GTMWyfC3EeilWePNzVreuA" type="State" element="_0OjpEPCyEeilWePNzVreuA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_GTMWyvC3EeilWePNzVreuA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_GTMWy_C3EeilWePNzVreuA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_GTMWzPC3EeilWePNzVreuA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_GTMWzfC3EeilWePNzVreuA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_GTMWzvC3EeilWePNzVreuA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_GTMWz_C3EeilWePNzVreuA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_GTMW0PC3EeilWePNzVreuA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_GTMW0fC3EeilWePNzVreuA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_GTMW0vC3EeilWePNzVreuA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_GTMW0_C3EeilWePNzVreuA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_GTMW1PC3EeilWePNzVreuA" x="992" y="628" width="189" height="55"/>
                </children>
                <children xmi:id="_GTMW1fC3EeilWePNzVreuA" type="State" element="_gqBdAPCzEeilWePNzVreuA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_GTMW1vC3EeilWePNzVreuA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_GTMW1_C3EeilWePNzVreuA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_GTMW2PC3EeilWePNzVreuA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_GTMW2fC3EeilWePNzVreuA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_GTMW2vC3EeilWePNzVreuA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_GTMW2_C3EeilWePNzVreuA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_GTMW3PC3EeilWePNzVreuA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_GTMW3fC3EeilWePNzVreuA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_GTMW3vC3EeilWePNzVreuA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_GTMW3_C3EeilWePNzVreuA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_GTMW4PC3EeilWePNzVreuA" x="567" y="633" width="185" height="55"/>
                </children>
                <children xmi:id="_GTMW4fC3EeilWePNzVreuA" type="Entry" element="_rH50IPCSEeilWePNzVreuA">
                  <children xmi:id="_GTMW4vC3EeilWePNzVreuA" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_GTMW4_C3EeilWePNzVreuA" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_GTMW5PC3EeilWePNzVreuA"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_GTMW5fC3EeilWePNzVreuA"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_GTMW5vC3EeilWePNzVreuA" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_GTMW5_C3EeilWePNzVreuA"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_GTMW6PC3EeilWePNzVreuA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_GTMW6fC3EeilWePNzVreuA" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_GTMW6vC3EeilWePNzVreuA" x="202" y="13" width="15" height="15"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_GTMW6_C3EeilWePNzVreuA"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_GTMW7PC3EeilWePNzVreuA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_GTMW7fC3EeilWePNzVreuA"/>
            </children>
            <children xmi:id="_yLTbEPC2EeilWePNzVreuA" type="Region" element="_TqFtw_CxEeilWePNzVreuA">
              <children xsi:type="notation:DecorationNode" xmi:id="_yLTbEfC2EeilWePNzVreuA" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_yLTbEvC2EeilWePNzVreuA"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_yLTbE_C2EeilWePNzVreuA"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_yLTbFPC2EeilWePNzVreuA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_fGIhi_C2EeilWePNzVreuA" type="State" element="_aFB-oPC2EeilWePNzVreuA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_fGIhjPC2EeilWePNzVreuA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_fGIhjfC2EeilWePNzVreuA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_fGIhjvC2EeilWePNzVreuA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_fGIhj_C2EeilWePNzVreuA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_fGIhkPC2EeilWePNzVreuA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fGIhkfC2EeilWePNzVreuA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_fGIhkvC2EeilWePNzVreuA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_fGIhk_C2EeilWePNzVreuA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_fGIhlPC2EeilWePNzVreuA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_fGIhlfC2EeilWePNzVreuA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fGIhlvC2EeilWePNzVreuA" x="43" y="123" width="153" height="55"/>
                </children>
                <children xmi:id="_KCAKcfC3EeilWePNzVreuA" type="Entry" element="_KCAKcPC3EeilWePNzVreuA">
                  <children xmi:id="_KCAKdfC3EeilWePNzVreuA" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_KCAKePC3EeilWePNzVreuA" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_KCAKefC3EeilWePNzVreuA"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_KCAKevC3EeilWePNzVreuA"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_KCAKdvC3EeilWePNzVreuA" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_KCAKd_C3EeilWePNzVreuA"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_KCAKcvC3EeilWePNzVreuA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_KCAKc_C3EeilWePNzVreuA" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_KCAKdPC3EeilWePNzVreuA" x="12" y="47"/>
                </children>
                <children xmi:id="_Z2tZU_C3EeilWePNzVreuA" type="State" element="_Z2tZUPC3EeilWePNzVreuA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_Z2tZV_C3EeilWePNzVreuA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_Z2tZWPC3EeilWePNzVreuA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_Z2tZWfC3EeilWePNzVreuA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_Z2tZWvC3EeilWePNzVreuA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_Z2tZW_C3EeilWePNzVreuA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Z2tZXPC3EeilWePNzVreuA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_Z2tZXfC3EeilWePNzVreuA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_Z2tZVPC3EeilWePNzVreuA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_Z2tZVfC3EeilWePNzVreuA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Z2tZXvC3EeilWePNzVreuA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Z2tZVvC3EeilWePNzVreuA" x="43" y="228" width="335" height="55"/>
                </children>
                <children xmi:id="_UqZakfC5EeilWePNzVreuA" type="State" element="_UqZanfC5EeilWePNzVreuA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_UqZakvC5EeilWePNzVreuA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_UqZak_C5EeilWePNzVreuA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_UqZalPC5EeilWePNzVreuA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_UqZalfC5EeilWePNzVreuA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_UqZalvC5EeilWePNzVreuA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_UqZal_C5EeilWePNzVreuA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_UqZamPC5EeilWePNzVreuA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_UqZamfC5EeilWePNzVreuA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_UqZamvC5EeilWePNzVreuA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_UqZam_C5EeilWePNzVreuA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_UqZanPC5EeilWePNzVreuA" x="43" y="348" width="353" height="65"/>
                </children>
                <children xsi:type="notation:Shape" xmi:id="_OxsFUPC6EeilWePNzVreuA" type="Note" fontName="Verdana" description="TODO: cooldown van 5s na emergency break = syntactisch in orde, maar ook in simulatie?." fillColor="13369343" transparency="0" lineColor="6737151" lineWidth="1">
                  <children xsi:type="notation:BasicDecorationNode" xmi:id="_Oxxk4PC6EeilWePNzVreuA" type="DiagramName">
                    <element xsi:nil="true"/>
                  </children>
                  <children xsi:type="notation:BasicDecorationNode" xmi:id="_Oxxk4fC6EeilWePNzVreuA" type="Description">
                    <element xsi:nil="true"/>
                  </children>
                  <styles xsi:type="notation:TextStyle" xmi:id="_OxsFUfC6EeilWePNzVreuA"/>
                  <styles xsi:type="notation:LineTypeStyle" xmi:id="_OxsFUvC6EeilWePNzVreuA"/>
                  <element xsi:nil="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_OxsFU_C6EeilWePNzVreuA" x="46" y="453" width="327"/>
                </children>
                <children xsi:type="notation:Shape" xmi:id="_XKT9IPC6EeilWePNzVreuA" type="Note" fontName="Verdana" description="TODO: velocity wordt niet geupdate elke 20ms -> al beter met valueof(update_acceleration)" fillColor="13369343" transparency="0" lineColor="6737151" lineWidth="1">
                  <children xsi:type="notation:BasicDecorationNode" xmi:id="_XKT9JPC6EeilWePNzVreuA" type="DiagramName">
                    <element xsi:nil="true"/>
                  </children>
                  <children xsi:type="notation:BasicDecorationNode" xmi:id="_XKT9JfC6EeilWePNzVreuA" type="Description">
                    <element xsi:nil="true"/>
                  </children>
                  <styles xsi:type="notation:TextStyle" xmi:id="_XKT9IfC6EeilWePNzVreuA"/>
                  <styles xsi:type="notation:LineTypeStyle" xmi:id="_XKT9IvC6EeilWePNzVreuA"/>
                  <element xsi:nil="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XKT9I_C6EeilWePNzVreuA" x="45" y="523" width="328"/>
                </children>
                <children xsi:type="notation:Shape" xmi:id="_lvA8sPC6EeilWePNzVreuA" type="Note" fontName="Verdana" description="TODO: staat history op de juiste plaats?" fillColor="13369343" transparency="0" lineColor="6737151" lineWidth="1">
                  <children xsi:type="notation:BasicDecorationNode" xmi:id="_lvA8tPC6EeilWePNzVreuA" type="DiagramName">
                    <element xsi:nil="true"/>
                  </children>
                  <children xsi:type="notation:BasicDecorationNode" xmi:id="_lvA8tfC6EeilWePNzVreuA" type="Description">
                    <element xsi:nil="true"/>
                  </children>
                  <styles xsi:type="notation:TextStyle" xmi:id="_lvA8sfC6EeilWePNzVreuA"/>
                  <styles xsi:type="notation:LineTypeStyle" xmi:id="_lvA8svC6EeilWePNzVreuA"/>
                  <element xsi:nil="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lvA8s_C6EeilWePNzVreuA" x="46" y="598"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yLTbFfC2EeilWePNzVreuA"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_yLTbFvC2EeilWePNzVreuA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yLTbF_C2EeilWePNzVreuA"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_omNwJfC2EeilWePNzVreuA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_omNwJvC2EeilWePNzVreuA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_omNwL_C2EeilWePNzVreuA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_omNwJ_C2EeilWePNzVreuA" y="192" width="2028" height="771"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4aExROaAEeiyZNO_nrSMkA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_4aEKMeaAEeiyZNO_nrSMkA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4aEKMuaAEeiyZNO_nrSMkA" x="50" y="85" width="2199" height="1025"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_CcazYeQlEeiyZNO_nrSMkA" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_CcazYuQlEeiyZNO_nrSMkA"/>
    <edges xmi:id="_8KiyMOaAEeiyZNO_nrSMkA" type="Transition" element="_8KhkEOaAEeiyZNO_nrSMkA" source="_7BEosOaAEeiyZNO_nrSMkA" target="_7GVjMOaAEeiyZNO_nrSMkA">
      <children xsi:type="notation:DecorationNode" xmi:id="_8KiyNOaAEeiyZNO_nrSMkA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_8KiyNeaAEeiyZNO_nrSMkA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_8KiyNuaAEeiyZNO_nrSMkA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_8KiyMeaAEeiyZNO_nrSMkA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_8KiyM-aAEeiyZNO_nrSMkA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_8KiyMuaAEeiyZNO_nrSMkA" points="[0, 5, 0, -31]$[3, 18, 3, -18]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_AXcl8PCREeilWePNzVreuA" id="(0.4830508474576271,0.24242424242424243)"/>
    </edges>
    <edges xmi:id="_b8TtovCvEeilWePNzVreuA" type="Transition" element="_b8TtkfCvEeilWePNzVreuA" source="_7GVjMOaAEeiyZNO_nrSMkA" target="_GTMWuPC3EeilWePNzVreuA">
      <children xsi:type="notation:DecorationNode" xmi:id="_b8Tto_CvEeilWePNzVreuA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_b8TtpPCvEeilWePNzVreuA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_b8TtpfCvEeilWePNzVreuA" x="-268" y="13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_b8TtpvCvEeilWePNzVreuA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_b8Ttp_CvEeilWePNzVreuA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_b8TtqPCvEeilWePNzVreuA" points="[4, 75, -355, -290]$[4, 99, -355, -266]$[359, 99, 0, -266]$[359, 363, 0, -2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_b8TtqfCvEeilWePNzVreuA" id="(0.4830508474576271,0.24242424242424243)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_b8TtqvCvEeilWePNzVreuA" id="(0.6,0.13333333333333333)"/>
    </edges>
    <edges xmi:id="_vFXIMfCSEeilWePNzVreuA" type="Transition" element="_vFXIMPCSEeilWePNzVreuA" source="_GTMW4fC3EeilWePNzVreuA" target="_GTMWffC3EeilWePNzVreuA">
      <children xsi:type="notation:DecorationNode" xmi:id="_vFXINfCSEeilWePNzVreuA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_vFXINvCSEeilWePNzVreuA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_vFXIN_CSEeilWePNzVreuA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_vFXIMvCSEeilWePNzVreuA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_vFXINPCSEeilWePNzVreuA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_vFXIM_CSEeilWePNzVreuA" points="[5, 3, -101, -65]$[108, 42, 2, -26]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_kX8lQPLtEeiCXpAcC8vS8g" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_vFdO0PCSEeilWePNzVreuA" id="(0.1911766857141992,0.050938513018927115)"/>
    </edges>
    <edges xmi:id="_5VZtwvCVEeilWePNzVreuA" type="Transition" element="_5VZtr_CVEeilWePNzVreuA" source="_GTMWffC3EeilWePNzVreuA" target="_GTMWZfC3EeilWePNzVreuA">
      <children xsi:type="notation:DecorationNode" xmi:id="_5VZtw_CVEeilWePNzVreuA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_5VZtxPCVEeilWePNzVreuA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_5VZtxfCVEeilWePNzVreuA" x="-159" y="-12"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_5VZtxvCVEeilWePNzVreuA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_5VZtx_CVEeilWePNzVreuA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_5VZtyPCVEeilWePNzVreuA" points="[125, 76, -437, -36]$[569, 76, 7, -36]$[569, 86, 7, -26]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5VZtyfCVEeilWePNzVreuA" id="(0.7942767236598384,0.037889746956579796)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5VZtyvCVEeilWePNzVreuA" id="(0.15291907159591436,0.4419387755102041)"/>
    </edges>
    <edges xmi:id="_5VXRK_CVEeilWePNzVreuA" type="Transition" element="_5VXRGPCVEeilWePNzVreuA" source="_GTMWffC3EeilWePNzVreuA" target="_GTMWcfC3EeilWePNzVreuA">
      <children xsi:type="notation:DecorationNode" xmi:id="_5VXRLPCVEeilWePNzVreuA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_5VXRLfCVEeilWePNzVreuA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_5VXRLvCVEeilWePNzVreuA" x="-57" y="-15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_5VXRL_CVEeilWePNzVreuA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_5VXRMPCVEeilWePNzVreuA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_5VXRMfCVEeilWePNzVreuA" points="[122, 327, -193, 0]$[315, 327, 0, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5VXRMvCVEeilWePNzVreuA" id="(0.7828482815927903,0.032206284913092825)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5VXRM_CVEeilWePNzVreuA" id="(0.0,0.6357558139534885)"/>
    </edges>
    <edges xmi:id="_b8VisPCvEeilWePNzVreuA" type="Transition" element="_b8TtgPCvEeilWePNzVreuA" source="_GTMWcfC3EeilWePNzVreuA" target="_GTMWuPC3EeilWePNzVreuA">
      <children xsi:type="notation:DecorationNode" xmi:id="_b8VisfCvEeilWePNzVreuA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_b8VitvCvEeilWePNzVreuA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_b8Vit_CvEeilWePNzVreuA" x="10" y="12"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_b8VisvCvEeilWePNzVreuA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_b8Vis_CvEeilWePNzVreuA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_b8VitPCvEeilWePNzVreuA" points="[-57, -82, 633, 227]$[-57, -172, 633, 137]$[-619, -172, 71, 137]$[-619, -306, 71, 3]$[-682, -306, 8, 3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_b8VitfCvEeilWePNzVreuA" id="(0.2280638771630175,1.3774709302325583)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_d1JecPCvEeilWePNzVreuA" id="(0.2,0.6)"/>
    </edges>
    <edges xmi:id="_0GJIMfCXEeilWePNzVreuA" type="Transition" element="_0GJIMPCXEeilWePNzVreuA" source="_GTMWffC3EeilWePNzVreuA" target="_GTMWffC3EeilWePNzVreuA">
      <children xsi:type="notation:DecorationNode" xmi:id="_0GJINfCXEeilWePNzVreuA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_0GJINvCXEeilWePNzVreuA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_0GJIN_CXEeilWePNzVreuA" x="2" y="-20"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_0GJIMvCXEeilWePNzVreuA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_0GJINPCXEeilWePNzVreuA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_0GJIM_CXEeilWePNzVreuA" points="[128, 508, 240, -12]$[128, 550, 240, 30]$[100, 550, 212, 30]$[100, 508, 212, -12]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_0GJIOPCXEeilWePNzVreuA" id="(0.20761669755137258,0.030311797565263837)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_0GJIOfCXEeilWePNzVreuA" id="(0.003809480689016012,1.0211286804798254)"/>
    </edges>
    <edges xmi:id="_-gkfsfCXEeilWePNzVreuA" type="Transition" element="_-gkfsPCXEeilWePNzVreuA" source="_GTMWivC3EeilWePNzVreuA" target="_GTMWlvC3EeilWePNzVreuA">
      <children xsi:type="notation:DecorationNode" xmi:id="_-gkftfCXEeilWePNzVreuA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_-gkftvCXEeilWePNzVreuA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_-gkft_CXEeilWePNzVreuA" x="14" y="9"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_-gkfsvCXEeilWePNzVreuA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_-gkftPCXEeilWePNzVreuA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_-gkfs_CXEeilWePNzVreuA" points="[2, 25, 3, -105]$[2, 120, 3, -10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_cKbggPCYEeilWePNzVreuA" id="(0.10749185667752444,0.33783783783783783)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-gkfuPCXEeilWePNzVreuA" id="(0.10597788686516492,0.16666666666666666)"/>
    </edges>
    <edges xmi:id="_ENipkfCYEeilWePNzVreuA" type="Transition" element="_ENipkPCYEeilWePNzVreuA" source="_GTMWlvC3EeilWePNzVreuA" target="_GTMWovC3EeilWePNzVreuA">
      <children xsi:type="notation:DecorationNode" xmi:id="_ENiplfCYEeilWePNzVreuA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ENiplvCYEeilWePNzVreuA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ENipl_CYEeilWePNzVreuA" x="-39" y="44"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ENipkvCYEeilWePNzVreuA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ENiplPCYEeilWePNzVreuA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ENipk_CYEeilWePNzVreuA" points="[-1, 25, 0, -145]$[-1, 195, 0, 25]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_c09rQPCYEeilWePNzVreuA" id="(0.10749185667752444,0.4166666666666667)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_dIzNQPCYEeilWePNzVreuA" id="(0.21676300578034682,0.5)"/>
    </edges>
    <edges xmi:id="_kA7isfCYEeilWePNzVreuA" type="Transition" element="_kA7isPCYEeilWePNzVreuA" source="_GTMWrvC3EeilWePNzVreuA" target="_GTMWivC3EeilWePNzVreuA">
      <children xsi:type="notation:DecorationNode" xmi:id="_kA7itfCYEeilWePNzVreuA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_kA7itvCYEeilWePNzVreuA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_kA7it_CYEeilWePNzVreuA" x="-27" y="55"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_kA7isvCYEeilWePNzVreuA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_kA7itPCYEeilWePNzVreuA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_kA7is_CYEeilWePNzVreuA" points="[-7, 4, 36, -17]$[-41, 16, 2, -5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_TTNywPCZEeilWePNzVreuA" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_kA7iuPCYEeilWePNzVreuA" id="(0.08478230949213193,0.07371007371007371)"/>
    </edges>
    <edges xmi:id="_0qz0IfCaEeilWePNzVreuA" type="Transition" element="_0qz0IPCaEeilWePNzVreuA" source="_GTMWovC3EeilWePNzVreuA" target="_GTMWivC3EeilWePNzVreuA">
      <children xsi:type="notation:DecorationNode" xmi:id="_0qz0JfCaEeilWePNzVreuA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_0qz0JvCaEeilWePNzVreuA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_0qz0J_CaEeilWePNzVreuA" x="176" y="15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_0qz0IvCaEeilWePNzVreuA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_0qz0JPCaEeilWePNzVreuA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_0qz0I_CaEeilWePNzVreuA" points="[-9, 15, 1, 340]$[-169, 15, -159, 340]$[-169, -309, -159, 16]$[-12, -309, -2, 16]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_0q4FkPCaEeilWePNzVreuA" id="(0.056179775280898875,0.2545454545454545)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_0q4FkfCaEeilWePNzVreuA" id="(0.009482874930131257,0.17229729729729729)"/>
    </edges>
    <edges xmi:id="_zRN6T_C2EeilWePNzVreuA" type="Transition" element="_zRN6WPC2EeilWePNzVreuA" source="_omNwJPC2EeilWePNzVreuA" target="_7GVjMOaAEeiyZNO_nrSMkA">
      <children xsi:type="notation:DecorationNode" xmi:id="_zRN6VfC2EeilWePNzVreuA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_zRN6V_C2EeilWePNzVreuA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_zRN6VvC2EeilWePNzVreuA" x="-28" y="-7"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_zRN6VPC2EeilWePNzVreuA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_zRN6U_C2EeilWePNzVreuA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_zRN6UvC2EeilWePNzVreuA" points="[-227, -17, 761, 109]$[-227, -127, 761, -1]$[-980, -127, 8, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_zRN6UfC2EeilWePNzVreuA" id="(0.7618158036471087,0.023109054627311467)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_zRN6UPC2EeilWePNzVreuA" id="(0.875,0.75)"/>
    </edges>
    <edges xmi:id="_2bvSUfCyEeilWePNzVreuA" type="Transition" element="_2bvSUPCyEeilWePNzVreuA" source="_GTMWffC3EeilWePNzVreuA" target="_GTMWyfC3EeilWePNzVreuA">
      <children xsi:type="notation:DecorationNode" xmi:id="_2by8sPCyEeilWePNzVreuA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_2by8sfCyEeilWePNzVreuA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_2by8svCyEeilWePNzVreuA" x="-115" y="97"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_2bvSUvCyEeilWePNzVreuA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_2bvSVPCyEeilWePNzVreuA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_2bvSU_CyEeilWePNzVreuA" points="[105, 387, -401, -186]$[280, 387, -226, -186]$[280, 554, -226, -19]$[490, 554, -16, -19]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2by8s_CyEeilWePNzVreuA" id="(0.8274313234650656,0.026464550080962296)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2by8tPCyEeilWePNzVreuA" id="(0.09171195652173914,0.5252830188679245)"/>
    </edges>
    <edges xmi:id="_Cq2TgfCzEeilWePNzVreuA" type="Transition" element="_Cq2TgPCzEeilWePNzVreuA" source="_GTMWffC3EeilWePNzVreuA" target="_GTMWZfC3EeilWePNzVreuA">
      <children xsi:type="notation:DecorationNode" xmi:id="_Cq2ThfCzEeilWePNzVreuA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Cq2ThvCzEeilWePNzVreuA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Cq2Th_CzEeilWePNzVreuA" x="-116" y="-12"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Cq2TgvCzEeilWePNzVreuA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Cq2ThPCzEeilWePNzVreuA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Cq2Tg_CzEeilWePNzVreuA" points="[106, 50, -345, -38]$[432, 50, -19, -38]$[432, 85, -19, -3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Cq9BMPCzEeilWePNzVreuA" id="(0.8130724284808563,0.02079357506361323)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Cq9BMfCzEeilWePNzVreuA" id="(0.2237960339943343,0.06153846153846154)"/>
    </edges>
    <edges xmi:id="_NUDt4fCzEeilWePNzVreuA" type="Transition" element="_NUDt4PCzEeilWePNzVreuA" source="_GTMWffC3EeilWePNzVreuA" target="_GTMWZfC3EeilWePNzVreuA">
      <children xsi:type="notation:DecorationNode" xmi:id="_NUDt5fCzEeilWePNzVreuA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_NUDt5vCzEeilWePNzVreuA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_NUDt5_CzEeilWePNzVreuA" x="-172" y="-12"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_NUDt4vCzEeilWePNzVreuA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_NUDt5PCzEeilWePNzVreuA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_NUDt4_CzEeilWePNzVreuA" points="[72, -12, -406, -99]$[480, -12, 2, -99]$[480, 83, 2, -4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_NUDt6PCzEeilWePNzVreuA" id="(0.8740977321637463,0.024574225075179274)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_NUDt6fCzEeilWePNzVreuA" id="(0.39660056657223797,0.07692307692307693)"/>
    </edges>
    <edges xmi:id="_iPgNEfCzEeilWePNzVreuA" type="Transition" element="_iPgNEPCzEeilWePNzVreuA" source="_GTMWyfC3EeilWePNzVreuA" target="_GTMW1fC3EeilWePNzVreuA">
      <children xsi:type="notation:DecorationNode" xmi:id="_iPgNFfCzEeilWePNzVreuA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_iPgNFvCzEeilWePNzVreuA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_iPgNF_CzEeilWePNzVreuA" x="5" y="-14"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_iPgNEvCzEeilWePNzVreuA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_iPgNFPCzEeilWePNzVreuA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_iPgNE_CzEeilWePNzVreuA" points="[38, 3, -129, -8]$[169, 37, 2, 26]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_kx1m8PCzEeilWePNzVreuA" id="(0.20380434782608695,0.48)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_iPgNGPCzEeilWePNzVreuA" id="(0.11039426523297491,0.45283018867924524)"/>
    </edges>
    <edges xmi:id="_EgWnIPC0EeilWePNzVreuA" type="Transition" element="_EgQggPC0EeilWePNzVreuA" source="_GTMWovC3EeilWePNzVreuA" target="_GTMWlvC3EeilWePNzVreuA">
      <children xsi:type="notation:DecorationNode" xmi:id="_EgWnJPC0EeilWePNzVreuA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_EgWnJfC0EeilWePNzVreuA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_EgWnJvC0EeilWePNzVreuA"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_EgWnIfC0EeilWePNzVreuA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_EgWnI_C0EeilWePNzVreuA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_EgWnIvC0EeilWePNzVreuA" points="[41, -25, -12, 134]$[41, -145, -12, 14]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_EgWnJ_C0EeilWePNzVreuA" id="(0.4712332399060677,0.6060606060606061)"/>
    </edges>
    <edges xmi:id="_KenN8fC3EeilWePNzVreuA" type="Transition" element="_KenN8PC3EeilWePNzVreuA" source="_KCAKcfC3EeilWePNzVreuA" target="_fGIhi_C2EeilWePNzVreuA">
      <children xsi:type="notation:DecorationNode" xmi:id="_KenN9fC3EeilWePNzVreuA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_KenN9vC3EeilWePNzVreuA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_KenN9_C3EeilWePNzVreuA"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_KenN8vC3EeilWePNzVreuA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_KenN9PC3EeilWePNzVreuA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_KenN8_C3EeilWePNzVreuA" points="[7, 0, -33, -69]$[33, 0, -7, -69]$[33, 59, -7, -10]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_KenN-PC3EeilWePNzVreuA" id="(0.1629060252913464,0.21735849056603776)"/>
    </edges>
    <edges xmi:id="_eb3mkfC3EeilWePNzVreuA" type="Transition" element="_eb3mkPC3EeilWePNzVreuA" source="_fGIhi_C2EeilWePNzVreuA" target="_Z2tZU_C3EeilWePNzVreuA">
      <children xsi:type="notation:DecorationNode" xmi:id="_eb3mlfC3EeilWePNzVreuA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_eb3mlvC3EeilWePNzVreuA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_eb3ml_C3EeilWePNzVreuA" x="1" y="43"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_eb3mkvC3EeilWePNzVreuA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_eb3mlPC3EeilWePNzVreuA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_eb3mk_C3EeilWePNzVreuA" points="[-14, 26, 29, -72]$[-14, 81, 29, -17]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xOEhUPC3EeilWePNzVreuA" id="(0.49324324324324326,0.48)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_eb3mmPC3EeilWePNzVreuA" id="(0.09202424242424243,0.3441509433962264)"/>
    </edges>
    <edges xmi:id="_JWdoMfC5EeilWePNzVreuA" type="Transition" element="_JWdoMPC5EeilWePNzVreuA" source="_Z2tZU_C3EeilWePNzVreuA" target="_fGIhi_C2EeilWePNzVreuA">
      <children xsi:type="notation:DecorationNode" xmi:id="_JWdoNfC5EeilWePNzVreuA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_JWdoNvC5EeilWePNzVreuA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_JWdoN_C5EeilWePNzVreuA" y="30"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_JWdoMvC5EeilWePNzVreuA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_JWdoNPC5EeilWePNzVreuA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_JWdoM_C5EeilWePNzVreuA" points="[-51, -25, 40, 80]$[-51, -80, 40, 25]"/>
    </edges>
    <edges xmi:id="_LnZwEfC5EeilWePNzVreuA" type="Transition" element="_LnZwEPC5EeilWePNzVreuA" source="_Z2tZU_C3EeilWePNzVreuA" target="_UqZakfC5EeilWePNzVreuA">
      <children xsi:type="notation:DecorationNode" xmi:id="_LnZwFfC5EeilWePNzVreuA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_LnZwFvC5EeilWePNzVreuA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_LnZwF_C5EeilWePNzVreuA" x="10" y="32"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_LnZwEvC5EeilWePNzVreuA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_LnZwFPC5EeilWePNzVreuA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_LnZwE_C5EeilWePNzVreuA" points="[130, 20, 117, -87]$[130, 85, 117, -22]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_LnZwGPC5EeilWePNzVreuA" id="(0.05373134328358209,0.6181818181818182)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_LnZwGfC5EeilWePNzVreuA" id="(0.0764872521246459,0.3692307692307692)"/>
    </edges>
    <edges xmi:id="_euG4IPGeEeiuWse6lTzCQQ" type="Transition" element="_euD00PGeEeiuWse6lTzCQQ" source="_GTMW1fC3EeilWePNzVreuA" target="_GTMWuPC3EeilWePNzVreuA">
      <children xsi:type="notation:DecorationNode" xmi:id="_euIGQPGeEeiuWse6lTzCQQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_euIGQfGeEeiuWse6lTzCQQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_euIGQvGeEeiuWse6lTzCQQ" x="-123" y="91"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_euG4IfGeEeiuWse6lTzCQQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_euHfMPGeEeiuWse6lTzCQQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_euG4IvGeEeiuWse6lTzCQQ" points="[68, -26, 187, 489]$[68, -98, 187, 417]$[-57, -98, 62, 417]$[-57, -515, 62, 0]$[-112, -515, 7, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_euJ7cPGeEeiuWse6lTzCQQ" id="(0.45625625625625627,0.5272727272727272)"/>
    </edges>
    <edges xmi:id="_NoYQ0PGfEeiuWse6lTzCQQ" type="Transition" element="_NoVNgPGfEeiuWse6lTzCQQ" source="_GTMWlvC3EeilWePNzVreuA" target="_GTMWivC3EeilWePNzVreuA">
      <children xsi:type="notation:DecorationNode" xmi:id="_NoY34fGfEeiuWse6lTzCQQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_NoY34vGfEeiuWse6lTzCQQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_NoY34_GfEeiuWse6lTzCQQ" x="20" y="13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_NoYQ0fGfEeiuWse6lTzCQQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_NoY34PGfEeiuWse6lTzCQQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_NoYQ0vGfEeiuWse6lTzCQQ" points="[2, -12, 5, 94]$[2, -93, 5, 13]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_NoaGAPGfEeiuWse6lTzCQQ" id="(0.43328156957806224,0.2121212121212121)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_NoaGAfGfEeiuWse6lTzCQQ" id="(0.4193393468637768,0.8354430379746834)"/>
    </edges>
    <edges xmi:id="_lImZ4fGfEeiuWse6lTzCQQ" type="Transition" element="_lImZ4PGfEeiuWse6lTzCQQ" source="_GTMWZfC3EeilWePNzVreuA" target="_GTMWuPC3EeilWePNzVreuA">
      <children xsi:type="notation:DecorationNode" xmi:id="_lImZ5fGfEeiuWse6lTzCQQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_lImZ5vGfEeiuWse6lTzCQQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_lImZ5_GfEeiuWse6lTzCQQ" x="-196" y="-13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_lImZ4vGfEeiuWse6lTzCQQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_lImZ5PGfEeiuWse6lTzCQQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_lImZ4_GfEeiuWse6lTzCQQ" points="[-16, -2, 561, 29]$[-577, -2, 0, 29]$[-577, -24, 0, 7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_lIwK4PGfEeiuWse6lTzCQQ" id="(0.0481586402266289,0.2)"/>
    </edges>
    <edges xmi:id="_wIICgPGfEeiuWse6lTzCQQ" type="Transition" element="_wIGNUPGfEeiuWse6lTzCQQ" source="_UqZakfC5EeilWePNzVreuA" target="_fGIhi_C2EeilWePNzVreuA">
      <children xsi:type="notation:DecorationNode" xmi:id="_wIIChPGfEeiuWse6lTzCQQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_wIIChfGfEeiuWse6lTzCQQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_wIIChvGfEeiuWse6lTzCQQ" x="-25" y="-29"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_wIICgfGfEeiuWse6lTzCQQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_wIICg_GfEeiuWse6lTzCQQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_wIICgvGfEeiuWse6lTzCQQ" points="[25, -10, 228, 219]$[25, -215, 228, 14]$[-174, -215, 29, 14]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_wIKewPGfEeiuWse6lTzCQQ" id="(0.9263456090651558,0.16923076923076924)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_wIKewfGfEeiuWse6lTzCQQ" id="(0.8104575163398693,0.12727272727272726)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
